.notion-collection-item:has(img[src*="forward_"]) {
	margin-left: 12px;
	opacity: 0.8
}

.notion-collection-item:has(img[src*="forward_"]) > a > .notion-focusable > div:last-child {
	display: none !important;
}